# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules

# production
frontend//build

# misc
frontend/.env
frontend/.env.production
backend/.env

frontend/.firebase
frontend/.firebaserc
frontend/firebase.json

# misc
frontend/.env
frontend/.env.production
