.outer-container{
    border-top: 1px solid rgb(206, 203, 203);
    padding-top: 20px;
    margin-top: 5px;
}
.container{
    width: 58%;  
    max-width: 500px;
    gap: 7px;
}
.line{
    width: 100%;
}
.search-page-intro{
    font-size: 20px;
    margin-top: 30px;
}
.search-bar-container{
    margin-top: 30 px ;
    margin-bottom: 30px;
    width: 250px;

}
.name-input{
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    width: 54%;
    padding: 5px 10px;
    border-width: 2px;
    border-color: #333333;
    font-size: 11px;
    letter-spacing: .065em;
}
.adv-search-toggle{
    font-size: 11px;
    letter-spacing: normal;
    margin-bottom: 10px;
    color: blue;
}
.adv-search-toggle:hover{
    cursor: pointer;
    color: purple;
}
.pet-search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
	color: rgb(206, 203, 203);
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

@media screen and (max-width: 480px){
    .search-page-intro{
        font-size: 17px;
    }
    .name-input{
        font-size: 8px;
    }
}